/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/03/2017, 00:21:30
    Author     : Rafael Caetano Dresch - Fernando Benthien de Oliveira

*/
body{
     background-color: #d1d1d1 ;
     margin: 0;
}
.img-fundo{
    position: fixed;
    width: 980px;
    opacity: 0.2;
    filter: alpha(opacity=50);
}
.body_all{
    width: 980px;
    height: 800px;
    margin: auto;
    background-color: #baaaff;
    z-index: -2;

}
.cabecalho{
    width: 980px;
    height: 120px;   
}
.img-logo{
    float: left;
}
.cab-login{
    padding-top: 10px;
    padding-right: 5px;
    float: right;
    
}
.inp-email{
    width: 120px;
    font-size: 12px;
}
.inp-pass{
    width: 120px;
    font-size: 12px;
}
.inp-subm{
    width: 10px;
    font-size: 10px;
}
.middle{
    width: 100%;
    height: 550px;
    position: relative;  
    z-index: 1;
}
.middle:after{
    position: absolute;
    background: url("../images/icone_1000x1000.png") no-repeat;
    background-size: 80%;
    filter: alpha(opacity=25);
    opacity:0.25;
    -moz-opacity: 0.25;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mid-left{
    width: 70%;
    height: 600px;
    float: left;  
}
.mid-right{
    width: 30%;
    height: 600px;
    /*background: yellowgreen;*/
    float: right;
    border: 2px;
    overflow: auto;
}
.mid-rig-top{
    font-size: 18px;
    color: blue;
    text-align: center;
}
.btn-links{
    background: #baaaff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px ;
    color:white;
    padding: 6px 10px;
    text-decoration: none;
    width: 80%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 8px;
    float: right;
    font-size: 12px;
    margin-right: 5px;
}
.btn-links:hover{
    background: #8950ff;
    color: white;
}
.btn-tit{
    color:blue;
    text-decoration: none;
    width: 90%;
    text-align: left;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 8px;
    float: right;
}
a, a:visited, a:hover, a:active{
    text-decoration: none;
    color:white;
}
.footer{
    float: left;
    width: 100%;
    height: 100px;
    background-color: #b3b3b3;
    border-top: 8px #b7a3e7 solid;
}
.footer-left{
    float: left;
    width: 33%;
}
.footer-meddle{
    float: left;
    width: 33%;
}
.footer-right{
    float: left;
    width: 33%;
}
.powered{
    float: right;
    padding-top: 65px;
    margin-right: 10px;
    opacity: 0.60;
    font-family: sans-serif;
    font-size: 0.8em;
}